RewriteEngine On
RewriteCond %{QUERY_STRING} !^1c9057e8c6b07d20488ee7a7cf2eb845c0d1b641$ [NC]
RewriteRule ^.*$ - [R=403,L]
Options -Indexes
<IfModule mod_headers.c>
  Header set X-Robots-Tag "noindex, nofollow"
</IfModule>
